.skip-link {
  position: absolute;
  top: -40px;
  left: 10px;
  background: black;
  color: white;
  padding: 8px;
}

.skip-link:focus {
  top: 10px;
}
.nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 15px;
  background-color: #222;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.nav a:hover {
  color: orange;
  transition: color 0.3s ease;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
img {
  border: 3px solid #333;
  padding: 10px;
  border-radius: 12px;
  max-width: 100%;
}
.gallery img:nth-child(even) {
  border-radius: 50%;
}
